[Unit]
Description=MOD UI
Wants=jackd.service pi-ede-ui.service

[Service]
Type=simple
Environment="MOD_LOG=0"
ExecStart=/home/tst/src/mod-ui/mod-ui.sh
StandardOutput=journal+console
StandardError=journal+console
Restart=always
User=tst
SyslogIdentifier=mod-ui

